################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ButlerCache/.vs
/ButlerCache/bin/Debug/net6.0
/ButlerCache/obj
/CacheTests/bin/Debug/net6.0
/CacheTests/obj
/.vs
/CacheTests/bin/Release/net6.0
